div {
  border: 4px;
  border-color: blue;
  border-style: solid;
}

span {
  border: 4px solid green;
}

button {
  border: 4px solid red;
  height: 40px;
  width: 200px;
}

ul > li {
  display: inline;
  border: 4px solid magenta;
}
